
/* wrapper */
.wrapper {
    padding: 50px 0;
}

.wrapper h3 {
    font-size: 32px;
    color: #212D53;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
}

.wrapper .img-line {
    padding-top: 15px;
    margin-left: -80px;
}

.wrapper h2 {
    color: #212D53;
    font-size: 42px;
    line-height: 62px;
    font-weight: bold;
    font-style: normal;
}

/* Gallery */

.gallery img {
    opacity: 0.7;
    cursor: pointer;
    margin: 2rem;
    width: 100%;
}

.gallery img:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* paggination */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #212D53;
    border-color: #212D53;
}

.page-item .page-link {
    background-color: #E8EAF3;
    color: #212D53;
    font-weight: 600;
}

.page-item .page-link:hover {
    background-color: #212D53;
    color: #fff;
    transition: 0.3s;
}

/* footer */
.footer-spacer {
    background-color: #fff;
    height: 50px;
}

.footer-main {
    padding: 50px 0 50px 0;
    background: #212D53;
}

.footer-main_header-icon {
    margin-top: -130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main_header-icon .ellipse {
    border: 3px solid #007CFB;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 100%;
    background: #ffffff;
}

.footer-main_header-icon img {
    width: 150px;
    height: 150px;
}

.footer-main .footer-main_title {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

.footer-main .footer-main_desc {
    color: #ffffff;
    font-size: 16px;
}

.footer-main .footer-main_desc img {
    width: 24px;
    height: 24px;
}

.footer-end {
    padding: 10px 0 10px 0;
    background: #007CFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-end_copyright {
    color: #ffffff;
    font-size: 16px;
}

.form-newsletter,
input[type=text] {
    border-radius: 0px;
    border: 0;
    outline: none;
}

.form-newsletter,
input[type=email]::placeholder {
    color: #fff;
}

.form-newsletter,
input[type=email]:focus {
    outline: none;
}

.form-newsletter .btn-newsletter {
    border-radius: 0;
    border: 0;
    background-color: #007CFB;
}

/* responsive */
@media(max-width:670px) {
    .top-nav {
        display: none;
    }
}

@media(max-width:1000px) {
    .top-nav {
        display: none;
    }
}