@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

#header {
  /* border: 1px solid red; */
  background-color: white;
  transition: top 0.3s;
  position: fixed;
  z-index: 97;
}

.navbar-top {
  border-bottom: 1px solid #eaeaea;

}

.navbar-bottom {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  /* border: 1px solid red; */
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-right: 5vw;
}

.navbar-brand span {
  margin-left: 5px;
  font-weight: 700;
  color: #212D53;
}

.navbar-information_box {
  display: flex;
  margin-right: 30px;
}

.navbar-information_box-icon img {
  /* border: 1px solid red; */
  width: 24px;
  height: 24px;
  padding: 2px;
}

.navbar-information_box-title {
  /* border: 1px solid red; */
  margin-left: 5px;
  font-weight: 600;
  font-style: normal;
  padding: 2px;
}

.navbar-information_box-title span {
  /* border: 1px solid red; */
  font-weight: 400;
}

.navbar-logo img {
  width: 200px;
  padding: 5px;
}

.btn-navbar {
  font-weight: 500;
}

.navbar-toggler {
  /* border: 1px solid red; */
  /* margin-left: -100px; */
  /* margin-right: 15%; */
}

.hero {
  top: 120px;
  width: 100%;
  height: 100vh;
  background: url("../image/hero-bg.png") top center;
  background-size: cover;
  position: relative;
  padding: 0;
  margin-bottom: -30px;
}

.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero .hero-subheading {
  /* border: 1px solid red; */
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}

.hero .hero-heading {
  /* border: 1px solid red; */
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}

.hero .hero-description {
  /* border: 1px solid red; */
  margin-top: 20px;
  color: #ffffff;
  font-size: 22px;
  width: 800px;
}

.hero-btn {
  margin-top: 30px;
}

.hero-btn button {
  width: 200px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {

  .hero .hero-container {
    /* border: 1px solid red; */
    width: 100vw;
  }

  .hero .hero-subheading {
    /* border: 1px solid red; */

    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .hero-heading {
    /* border: 1px solid red; */
    font-size: 24px;
    line-height: 36px;
  }

  .hero .hero-description {
    /* border: 1px solid red; */
    font-size: 18px;
    line-height: 36px;
    width: auto;
  }

  .content-spacer {
    border: 1px solid red;
    /* height: calc(100vh - (20vh + 20vh)); */
    height: 300px;
    /* margin: 50px; */
  }

}

.content-spacer {
  height: calc(100vh - (40vh + 40vh));
}

.content {
  padding: 50px 0 50px 0;
  /* border: 1px solid red; */
}

.content-bg-white {
  background-color: #ffffff;
}

.content-bg-grey {
  background-color: #F3F4F8;
}

.about-group {
  margin-bottom: 50px;
  /* border: 1px solid red; */
}

.about-box {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.about-box_icon {
  /* border: 1px solid red; */
  background: #007CFB;
  padding: 15px;
  border-radius: 100%;
}

.about-box_icon img {
  /* border: 1px solid red; */
  width: 32px;
  height: 32px;
}

.about-box_title {
  /* border: 1px solid red; */
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}

.heading-content {
  display: flex;
}

.heading-content h1 {
  /* border: 1px solid red; */
  color: #212D53;

  font-weight: 500;
  font-size: 24px;
}

.subheading-content {
  /* border: 1px solid red; */
  color: #212D53;
  font-size: 34px;
}

.heading-content .lines {
  border: 1px solid #007CFB;
  width: 200px;
  height: 0;
  margin: 12px 0 20px 30px;
}

.about-description p {
  /* border: 1px solid red; */
  font-weight: 400;
  font-size: 16px;
}

.about-description_icon {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description_icon img {
  /* border: 1px solid red; */
  width: 50%;
}

.bullet {
  /* border: 1px solid red; */
  padding: 30px 0 30px 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.bullet-spacer {
  width: 20px;
}

.bullet-btn {
  /* border: 1px solid red; */
  border: 2px solid #007CFB;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 20px;
}

.bullet-btn img {
  /* border: 1px solid red; */
  width: 32px;
}

.card-pengurus {
  /* border: 1px solid red; */
  padding: 24px;
}

.card-pengurus_profile {
  display: flex;
}

.card-pengurus_profile-spacer {
  margin: 8px;
}

.card-pengurus_profile img {
  /* border: 1px solid red; */
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.card-pengurus_profile-desc {
  padding: 5px;
}

.card-pengurus_profile-desc h5 {
  font-size: 18px;
  color: #007CFB;
}

.contact-box {
  display: flex;
  padding: 10px;
  /* border: 1px solid red; */
}

.contact-box_spacer {
  margin: 10px;
}

.contact-box img {
  width: 48px;
  height: 48px;
}

.footer-spacer {
  /* border: 1px solid red; */
  background-color: #ffffff;
  height: 50px;
}

.footer-main {
  padding: 50px 0 50px 0;
  background: #212D53;
  /* border: 1px solid red; */
}

.footer-main_header-icon {
  /* border: 1px solid red; */
  margin-top: -130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-main_header-icon .ellipse {
  border: 3px solid #007CFB;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 100%;
  background: #ffffff;
}

.footer-main_header-icon img {
  width: 150px;
  height: 150px;
}

.footer-main .footer-main_title {
  /* border: 1px solid red; */
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.footer-main .footer-main_desc {
  /* border: 1px solid red; */
  color: #ffffff;
  font-size: 16px;
}

.footer-main .footer-main_desc img {
  /* border: 1px solid red; */
  width: 24px;
  height: 24px;
}

.footer-end {
  padding: 10px 0 10px 0;
  background: #007CFB;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-end_copyright {
  color: #ffffff;
  font-size: 16px;
}

.form-newsletter input[type=text] {
  border-radius: 0px;
  border: 0;
  outline: none;
  width: 80%;
}

.form-newsletter,
input[type=email]::placeholder {
  color: #fff;
}

.form-newsletter,
input[type=email]:focus {
  outline: none;
}

.form-newsletter .btn-newsletter {
  border-radius: 0;
  border: 0;
  background-color: #007CFB;
}